.fotter {
    margin-top: 1%;
    border-top: 2px solid rgba(0, 0, 0, 0.362);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.nameGame,
.howMade {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nameGame h4 {
    font-size: 15px;
    margin-top: 5px;

}

.howMade p {
    font-size: 12px;
}