/* דף כניסה - התחברות  */


.main1 {
  position: relative;
}

.main1 img {
  margin-top: -8px;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(85vh - 10px);
  width: 100%;
  object-fit: cover;
}



.content {
  height: calc(85vh - 10px);
  width: 100%;
  top: -8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #ffffff;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .4);
}


.content button {
  font-size: 19px;
}


.DemoUserAndDoctor a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #232323;
  cursor: pointer;
  font-size: 15px;
}



.sign-box {
  position: relative;
  display: block;
  width: auto;
  margin: 40px auto;
  padding: 10px;
  color: #444;
  margin-top: 8%;
  border-radius: 2%;
  font-weight: 500;
}


.sign-box h1 {
  text-align: center;
  margin-bottom: 8%;
  color: rgb(0, 0, 0);
  font-size: 30px;
}


.sign-box p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-bottom: 3%;
}

.input-field p {
  font-size: 14px;
  color: #000000;
}

.sign-box .title {
  font-size: 25px;
  text-transform: uppercase;
  margin: 15px 0;
  display: block;
  font-weight: 600;
  text-align: center;
}

.sign-box .input-field,
.sign-box .checkbox-field {
  width: 300px;
  margin: 15px auto;
  position: relative;
}

.sign-box .input-field input.input {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  line-height: 30px;
  font-size: 14px;
  box-sizing: border-box;
  border: 2px solid #bdbdbd;
  outline: none;
  color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.2) !important;
}




.sign-box .input-field .btn {
  box-sizing: border-box;
  display: block;
  padding: 8px 30px 10px 30px;
  margin-top: 10px;
  margin: 5px;
  width: 100%;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
  font-size: 18px;
  background: #69AF23;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}



@media(max-width:991px) {

  .sign-box {
    width: 300px;
  }

  .sign-box .input-field input.input {
    width: 280px;
  }

  .sign-box .input-field .btn {
    width: 270px;
  }

  .sign-box h1 {
    font-size: 20px;
  }
}





/* דף פרופיל */

.cardProfile {
  background: url("../images/gamrz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(82vh - 7px);
  width: 100%;
  object-fit: cover;
}

.cardStyle {
  height: calc(82vh - 7px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .4);
}


.CardUser {
  background: rgba(0, 0, 0, 0.681) !important;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  text-align: center;
  position: relative;
  height: auto;
}



.CardUser:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: green;
  transform: scaleY(1);
  transition: all 0.5s;
  transform-origin: bottom
}


.CardUser:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: orangered;
  transform: scaleY(0);
  transition: all 0.5s;
  transform-origin: bottom
}


.CardUser:hover::after {
  transform: scaleY(1);
}


.fonts {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.82);
}

.CardUser h5 {
  color: rgba(255, 255, 255, 0.894);
  font-weight: 500;
}


.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}


.buttons button {
  font-size: 14px;
}




/* דף Admin */


.navigation table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 3%;
}


.navigation table tr {
  border: 1px solid #ddd;
  padding: .35em;
}

.navigation table th,
table td {
  padding: .625em;
  text-align: center;
}

.navigation img {
  width: 15%;
  border-radius: 20%;
}

.navigation table th {
  font-size: 15px;
  letter-spacing: .1em;
  color: rgb(0, 0, 0);
}



@media(max-width:991px) {

  table {
    border: 0;
  }

  .navigation table caption {
    font-size: 1.3em;
  }

  .navigation table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .navigation table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  .navigation table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .navigation table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .navigation table td:last-child {
    border-bottom: 0;
  }
}



.navigation button {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 8px 30px 10px 30px;
  margin-top: 10px;
  margin: 5px;
  width: auto;
  border: 3px solid #ffffff;
  border-radius: 5px;
  font-size: 12px;
  background: #008737;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}











/* דף ההרשמה */


.register h1 {
  font-weight: 500;
  font-size: 26px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin-top: 1%;
  margin-bottom: 3%;
  color: rgba(255, 255, 255, 0.89);
}



.register {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: url("../images/snage1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
}



.bagroundToImage {
  width: 100%;
  height: 868px;
  background-color: rgba(0, 0, 0, 0.664);
}


.register input {
  font-weight: 500;
  width: 500px;
  height: auto;
  margin: 10px;
  font-size: 14px;
  box-sizing: border-box;
  border: 2px solid #bdbdbd;
  outline: none;
  color: rgb(255, 255, 255);
  background: rgba(102, 102, 102, 0.4) !important;
}



.register label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}



.register button[type=submit],
.register button[type=reset] {
  display: block;
  padding: 8px 30px 10px 30px;
  margin: 15px;
  width: auto;
}



.buttonsRegister {
  display: flex;
  justify-content: center;
}


.buttonsRegister button {
  padding: 8px 30px 10px 30px;
  width: auto;
  border-radius: 4px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
}



@media(max-width:991px) {

  .register input {
    width: 300px;
  }
}






/* דף Game */


.placeGame {
  background: url("../images/gamrz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(82vh - 7px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game-area {
  position: relative;
  border: 5px solid rgb(255, 255, 255);
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.62);

}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: yellowgreen;
  border: 2px solid orangered;
  z-index: 2;
}


.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: green;
  border: 1px solid #fff;
  z-index: 1;
}



@media(max-width:991px) {

  .game-area {
    width: 100%;
    height: 83%;
    position: fixed;
  }

  .placeGame {
    position: fixed;
    height: 83%;
  }

  .snake-dot {
    width: 2%;
    height: 2%;
  }

  .snake-food {
    width: 2%;
    height: 2%;
  }
}