.link a {
  color: white;
  text-decoration: none;
}


.menu {
  background: rgb(245, 245, 245);
}

.menu .link a {
  color: #00000094;
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
}

.menu img {
  height: 100px;
}


.imgPrf {
  margin-right: 3%;
  text-align: center;
  align-items: center;
}

.imgPrf button {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 10% / 50%;
  font-size: 14px;
  border: none;
}